[submodule "Submodules/CraftEngine"]
	path = Submodules/CraftEngine
	url = https://github.com/chibi1541/craft-engine.git
	ignore = dirty
[submodule "Submodules/ServerCore"]
	path = Submodules/ServerCore
	url = https://github.com/chibi1541/iocp-server-core.git
